body {
  font-family: 'Libre Franklin', sans-serif;
  background-color: black;
}

/*HIDE MOBILE SITE FROM DESKTOP*/
#mobile {
  display: none;
}
/*VIDEO CSS*/

/* Makes a fixed background wrapper
which the user cannot interact with */

.iframe-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  pointer-events: none;
  overflow: hidden;
}

/* Make the iframe keep an aspect ratio, and
position it in the middle of its parent wrapper*/

.iframe-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

.jumbotron{
  z-index: -1;
  height: 100vh;
  min-height: 500px;
  background: linear-gradient(
      rgba(217,85,88,0.55),
      rgba(18,234,234,0.55)
    );
    /*url(../assets/Photos/JungeLeuteessenSushiinAsiaRestaurant.jpg);*/
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
}

.links a {
  color: white;
  font-weight: 200;
  margin: 30px 0px 0px 20px;
}

#name {
  color: white;
  font-weight: 100;
  font-size: 70px;
  margin-top: 200px;
  margin-left: auto;
}
#name span {
  font-size: 90px;
}

